.input-group > .form-control {
    background: none;
    border: none;
    box-shadow: none;
}

.card-containers {
    position: absolute;
    width: 100%;
    background: white;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.3);
    margin-left: -10px;

    h1 {
        font-family: "Dosis", sans-serif;
    }

    .form-error {
        background: red;
        font-family: "Dosis", sans-serif;
        color: white;
        border: none;
        padding: 5px;
        animation: show 500ms forwards ease-in;
    }

    .form-success {
        background: green;
        font-family: "Dosis", sans-serif;
        color: white;
        border: none;
        padding: 5px;
        animation: show 500ms forwards ease-in;
    }

    .home-inputs,
    .user-check-inputs,
    .settings-input {
        box-shadow: none;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid var(--purp);
        transition: border 500ms;

        &:hover {
            border-bottom: 2px solid #b692ff;
        }

        &:focus-within {
            border-bottom: 2px solid #25006e;
        }

        &:disabled:hover {
            cursor: not-allowed;
        }

        .input-group-text {
            background: none;
            border: none;
            border-radius: initial;
        }

        input {
            background: transparent;
            border-radius: initial;
            border: none;
            font-family: "Roboto";
            font-weight: 100;
            box-shadow: none;
        }
    }

    .file-input {
        background: var(--purp);
        box-shadow: none;
        border: none;
        border-radius: 0;
        transition: border 500ms;
        padding: 5px 10px;

        input {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;

            & + .file-label {
                display: inline-block;
                cursor: pointer;
                margin-left: 10px;
                color: white;
            }
        }

        .file-label {
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
            display: block;
            width: 100%;
            height: 25px;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            top: 4px;
        }

        &:hover {
            background: #25006e;
        }
    }

    .file-image {
        animation: show 1s ease-out forwards;
        opacity: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
